/* .container{
    height: 500px;
} */
.center{
    text-align: center;
}

body{
    background-color: rgb(255, 255, 255);
}

.boxHeight {
    height: 500px;
}

/* .red{
    border: 2px solid red;
    height: 300px;
    width: 550px;
} */
.smallchart1 {
    height: 300px;
    width: 550px;
}